<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Amazon Api ❤ Usful 2017</title>
    <meta name="description" content="Amazon Api Examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="opencv.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div id="container">
    </div>
    <%=htmlWebpackPlugin.files.webpackManifest%>
    <script src="/<%= htmlWebpackPlugin.files.chunks.vendors.entry %>" type="text/javascript"></script>
    <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>" type="text/javascript"></script>
  </body>
</html>